  <div class="header blue-background">
    <a href="/" class="header-elements white-text"><h7>Home</h7></a>
    <input type="text" placeholder="search" class="header-elements input">
    <a href="/contacts/new" class="header-elements white-text"><h7>New Contact</h7></a>
  </div>
