<%include ./partials/head %>
<body class="fullHeight">
  <div class="row fullHeight">
    <div class="col s3 teal-background fullHeight"></div>
    <main class="col s6 no-padding fullHeight">
      <div><% include ./partials/header %></div>
        <h5> <%= contact.name %> </h5>


    </main>
    <div class= "col s3 teal-background fullHeight"></div>
  </div>
</body>
</html>
