<%include ./partials/head %>
<body class="fullHeight">
  <div class="row fullHeight">
    <div class="col s3 teal-background fullHeight"></div>
    <main class="col s6 no-padding fullHeight">
      <div><% include ./partials/header %></div>
      <h5><a href="/">Contacts</a></h5>

      <div class="contact-list">
        <% contacts.forEach(function(contact){ %>
          <div class="link-text">
            <%= contact.name %>
          </div>
        <% }) %>
      </div>
    </main>
    <div class= "col s3 teal-background fullHeight"></div>
  </div>
</body>
</html>
